.bg-yakult {
    background: #f8ede1;
    opacity: 0.7;
}
.info-nav-bg {
    background-color: rgba(255, 255, 255, 0.4);
}
.info-container-light-1 {
    background-color: #f8ede1;
    height: 250px;
}
.info-container-red-1 {
    background-color: #ee383e;
    height: 650px;
}
.info-container-light-2 {
    background-color: #f8ede1;
    height: 650px;
}
.info-container-red-nu {
    background-color: #ee383e;
    height: 570px;
}
.info-container-light-health {
    background-color: #f8ede1;
    height: 540px;
}
.info-div-center {
    position: absolute;
    left: 50%;
}
.info-img-center {
    position: absolute;
}
.info-annotated {
    display: none;
}
.info-map {
    height: 550px;
    width: 830px;
    position: relative;
}
.info-containe-red-1 img {
    position: relative;
    left: -50%;
}
.info-h2 {
    font-size: 50px;
    font-weight: 600;
    padding: 10px 10px 0 0;
}
.info-red-header {
    color: #ffc0d2;
}
.info-light-header {
    color: #d7ac82;
}
.info-legend-container {
  position: relative;
  top: -15em;
  color: #d7ac82;
}

.info-legend {
  position: absolute;
}

.info-legend-item {
  position: static;
}

.info-subheader {
  color: #F2EEEB;
  margin-top: 1.5em;
  margin-left: 3em;
}

.info-legend a {
  position: relative;
  top: -0.2em;
  font-size: 18px;
}

.info-legend-img {
  width: 1.3em;
  margin: 0 1.5em 1.5em 1.5em;
}

.info-rec-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-anchor: middle;
  width: 6em;
  color: rgb(242, 238, 235) !important;
  margin-bottom: 1.2em;
}
.info-body {
  position: relative;
  left: -30px;
  top: -200px;
  width: 85%;
}
.chart-rect {
  margin-left: 180px;
  margin-top: 70px;
}
.svg-rec {

}

.row-flex{
  display: flex;
}
.text-circle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6em;
  text-anchor: middle;
  font-weight: 80;
  color: rgb(242, 238, 235);
}
.text-path {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.highlighted {
  fill: rgb(134, 214, 203);
}
.chart{
  margin-left: 100px;
}

.mobile-unfriendly {
  display: none;
}


@media only screen and (max-width: 400px) {
    section {
      display: none;
    }
    body {
      background-color: #f8ede1;
      height: 100%;
    }
    .mobile-unfriendly {
      display: block;
      color: #d7ac82;
      height: 100%;
      font-size: 20px;
      font-weight: 600;
      margin: 0 auto;
      position: relative;
      top: 10%;
    }
    .heart {
      width: 50%;
      display: block;
      margin: 0 auto;
    }

}
