video {
  width: 100%;
  box-shadow: 0 22px 53px rgba(0, 0, 0, 0.35);
}

body {
  position: relative;
}

div > a:link {
  color: #696969;
}

div > a:visited {
  color: #696969;
  /* color: #bf3a30; */
}

/* .blog-section-header {
  padding-bottom: 10px;
} */

.bulb-color {
  color: #FFD659;
}

.wrong-color {
  color: #C6362D;
}

.showcase {
  box-shadow: 1px 6px 30px rgba(0, 0, 0, 0.35);
}

.iteration {
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.35);
}

.screens {
  max-width: 1200px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#navDots {
  position: fixed !important;
}
.brand-link:hover {
  text-decoration: none;
}

.lightbox {
  /** Default lightbox to hidden */
  display: none;
  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox img {
  /** Pad the lightbox image */
  max-width: 90%;
  max-height: 80%;
  /* margin-top: 2%; */
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  position: absolute;
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;
  /** Unhide lightbox **/
  display: block;
}

.quote {
  max-height: 100px;
}

.row-mov {
  margin-top: 10%;
}

]
.blog-content-img>img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.blog-item {
  line-height: 1.5;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  margin-left: -70px;
  opacity: 0.5 !important;
  font-weight: bold;
  font-size: 28px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: -70px;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 4px;
  background-color: #C1CAC0;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-active, .dot:hover {
  background-color: #535D52;
  opacity: 0.6;
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  display: block;
}

/* .side-dot {
  position: relative;
  top: 8px;
  height: 12px;
  border-radius: 50%;
  background-color: #EDD3C1 !important;
  transform-origin: 50% 50%;
} */


.side-nav-dots ul {
  z-index: 100;
  position: fixed;
  right: 2%;
  display: inline-block;
  /* display: none; */
  float: right;
  margin-top: 30%;
  padding: 0;
  list-style: none;
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.side-nav-dots li {
  position: relative;
  display: block;
  /* float: left; */
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.side-nav-dots li a, .side-nav-dots li a:focus {
  top: 0;
  left: 0;
  width: 40%;
  height: 40%;
  outline: none;
  border-radius: 100%;
  background-color: #fff;
  background-color: #bfbfbf;
  text-align: right;
  font-size: 8px;
  text-indent: -7rem;
  /* make the text accessible to screen readers */
  cursor: pointer;
  position: absolute;
  padding: 0px !important;
}

.side-nav-dots li a span {
  display: none;
}

.side-nav-dots li a:hover span{
  display: block;
}

.side-nav-dots .active a span{
  display: none;
}

.dot-text {
  position: relative;
  right: 20px;
  z-index: -10;
}

.side-nav-dots li a {
  -webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
  transition: transform 0.3s ease, background-color 0.3s ease;
  color: #4a4a4a;
}

.side-nav-dots li a:hover{
  background-color: #4a4a4a;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.side-nav-dots .active a {
  background-color: #4a4a4a !important;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.other-projects {
  /* color: rgba(83, 93, 82, 1); */
  font-size: 1rem;
  font-weight: 300;
  font-family: 'Open Sans', serif;
  /* text-shadow: 0.12em 0.12em #D8D8D8; */
  position: fixed;
  bottom: 17%;
  width: 100%;
  display: none;
}

.other-projects a{
  color: #4a4a4a !important;
}

.other-projects i{
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* .other-projects div:hover {
  transform: scale(1.1);
} */

.last-project {
  float: left;
  left: 25px;
  top: 25px;
  position: relative;

}

.next-project {
  float: right;
  right: 25px;
  top: 25px;
  position: relative;
  text-align: right;
}

.last-project:hover i{
  transform: scale(1.5);
}

.next-project:hover i{
  transform: scale(1.5);
}

.other-projects:hover a{
  color: rgba(83, 93, 82, 1);
}

#return-to-top {
    position: fixed;
    bottom: 3%;
    right: 2%;
    background: #4a4a4a;
    width: 45px;
    height: 45px;
    display: block;
    text-decoration: none;
    /* -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px; */
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 14.5px;
    top: 14.5px;
    font-size: 18px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: #333333;
}
#return-to-top:hover i {
    color: #fff;
    top: 10px;
}


#navDots {
  display: none;
}

@media (max-width: 769px){
  #navDots {
    display: none !important;
  }
}
