#bottom {
  position: absolute;
  top: 0;
  z-index: 1;
}

#top {
  position: absolute;
  top: 0;
}

body {
 font-family: 'Lato', 'Open Sans', sans-serif;
 font-weight: 400;
 color:#545454;
 font-size: 14px;
}

.content {
  position: relative;
  top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro {
  width: 590px;
  margin-right: 30px;
}

.headline {
  display: block;
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 24px;
}

.work, .fun {
  margin-bottom: 40px;
  display: table-cell;
}

.header {
  font-size: 20px;
  font-weight: 300;
}

.work {
  width: 380px;
}

.fun {
  width: 210px;
  margin-right: 60px;
}

.memoji {
  display: inline-flex;
  width: 240px;
}

.divider {
  width: 1px;
  background-color: #545454;
  height: 100%;
}

.download {
  margin-top: 30px;
}

.download > a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.download > a:hover {
  text-decoration: underline;
}

@media only screen and (max-width:800px) {
  .work, .fun {
    display: block
  }
  .intro {
    width: 340px;
    margin-right: 30px;
  }
}

@media only screen and (max-width:700px) {
  .memoji {
    display: none;
  }
}
